# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.EntityFrameworkExamples.iml
# Datasource local storage ignored files
/../../../../../../../:\PrivateRepos\ef-examples\EntityFrameworkExamples\.idea\.idea.EntityFrameworkExamples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
